
<br>
<br>
<h1 style="text-align: center;">Sign In</h1>
<form style="text-align: center;">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="username" [ngModelOptions]="{standalone:true}" >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}" >
    </div>
    <button type="submit" (click)="login()" class="btn btn-success">Log In</button>

  </form>