



/* Full-width input fields */
input[type=text], input[type=password] {
  width: 300px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #1f0a0a;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.nav-button{
  width: auto;
  height: auto;
  color: #d5e1f8;
  margin: 10px 10px;
  position: relative;
  background-color: #06060e;
}

div.center-align{
  width: auto;
  height: auto;
}

div.right-align{
  width: auto;
  height: auto;
  margin: 0px 100px;
}

div.language{
  width: auto;
  height: auto;
  margin: 0px -100px;
}
.nav-button:hover {
  opacity:1;
  color: #474e5d;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */



/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 50%;
     height: 40px;
     
  }
}
.navbar-brand{
  color: rgb(21, 58, 32);
}
.search-box{
  width: 480px;
  height: 40px;
  margin: 23px 2px;
}

.container-fluid{
  height: 50px;
  background-color: rgba(39, 77, 75, 0.527);
}

.nav-icon{
  width: 25px;
  height: 25px;
  margin: 15px 5px;
}
body.h-nav{
  margin-top: -665px;
  width: auto;
  margin-left: 450px;
  box-sizing: border-box;
  position: relative;
}
