<body class="h-nav">
<div class="horizontal-nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <form class="d-flex" action="search.php">
          <input class="search-box" id="search" type="search" placeholder= "search" aria-label="Search">
          <button class="btn" type="submit">
            <a class="nav-link-icon" routerLink="">
              <img src="assets/search.png" alt="english" class="nav-icon">
            </a>
          </button>
        </form>
        
        
        <div class="right-align">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link-icon" routerLink="bangla">
                <img src="assets/bell.png" alt="bengali" class="nav-icon">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link-icon" routerLink="bangla">
                <img src="assets/chat.png" alt="bengali" class="nav-icon">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link-icon" routerLink="bangla">
                <img src="assets/shopping-cart.png" alt="bengali" class="nav-icon">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link-icon" routerLink="bangla">
                <img src="assets/user.png" alt="bengali" class="nav-icon">
              </a>
            </li>
            
          </ul>
        </div>
        <div class="language">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link-icon" routerLink="">
                <img src="assets/united-kingdom.png" alt="english" class="nav-icon">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link-icon" routerLink="bangla">
                <img src="assets/bangladesh.png" alt="bengali" class="nav-icon">
              </a>
            </li>
          </ul>
        </div>
            
      </div>
        
    </div>
    
</nav>
</div>
</body>

